<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://kjitvaf5-001-site1.htempurl.com/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://win5249.site4now.net:8172/MsDeploy.axd?site=kjitvaf5-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>kjitvaf5-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>kjitvaf5-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="petstoreConnectionString1" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5109.site4now.net;Initial Catalog=db_a889b9_petstore;User ID=db_a889b9_petstore_admin;Password=123456789Abc" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5109.site4now.net;Initial Catalog=db_a889b9_petstore;User ID=db_a889b9_petstore_admin;Password=123456789Abc" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\petstoreConnectionString1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5109.site4now.net;Initial Catalog=db_a889b9_petstore;User ID=db_a889b9_petstore_admin;Password=123456789Abc" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="petstoreConnectionString2" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5109.site4now.net;Initial Catalog=db_a889b9_petstore;User ID=db_a889b9_petstore_admin;Password=123456789Abc" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\petstoreConnectionString2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5109.site4now.net;Initial Catalog=db_a889b9_petstore;User ID=db_a889b9_petstore_admin;Password=123456789Abc" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="petstoreConnectionString3" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-8V43AO5\SQLEXPRESS;Initial Catalog=petstore;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\petstoreConnectionString3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-8V43AO5\SQLEXPRESS;Initial Catalog=petstore;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="petstoreConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5109.site4now.net;Initial Catalog=db_a88fb0_petstore;User ID=db_a88fb0_petstore_admin;Password=123456789Abc" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\petstoreConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5109.site4now.net;Initial Catalog=db_a88fb0_petstore;User ID=db_a88fb0_petstore_admin;Password=123456789Abc" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="rateConnectionString" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-8V43AO5\SQLEXPRESS;Initial Catalog=rate;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\rateConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-8V43AO5\SQLEXPRESS;Initial Catalog=rate;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)petstoreConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)petstoreConnectionString2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)petstoreConnectionString3-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)rateConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="petstoreConnectionString1-Web.config Connection String">
      <ParameterValue>Data Source=SQL5109.site4now.net;Initial Catalog=db_a889b9_petstore;User ID=db_a889b9_petstore_admin;Password=123456789Abc</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>